<div id="error-modal">
  <div id="error-content" class="position-fixed top-0 start-50 w-50 translate-middle-x" style="z-index:2000">
    <div class="alert alert-danger text-center mb-0 rounded-0 shadow" role="alert">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content border-danger">
          <div class="modal-header text-white text-center">
            <h5 class="modal-title">ERROR!</h5>
          </div>
          <div class="modal-body">
            <p>{{ error_message }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>