<div 
    class="card px-0 col-12 col-xl-10"
    id="project-{{project.id}}"
    hx-trigger="taskChanged from:body"
    hx-get="{% url 'get_project' project.id %}"
    hx-target="#project-{{project.id}}"
    hx-target-error="#error-modal"
>
    <div class="card-header d-flex align-items-center gap-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-calendar4" viewBox="0 0 16 16">
            <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M2 2a1 1 0 0 0-1 1v1h14V3a1 1 0 0 0-1-1zm13 3H1v9a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1z"/>
        </svg>
        <h2 class="mb-0">{{project.name}}</h2>
        {% comment %} TODO on edit change this dive not all list {% endcomment %}
        {% comment %} TODO btns show on hover {% endcomment %}
        <button 
            class="mb-0"
            hx-trigger="click"
            hx-get="{% url 'modals_edit_project' project.id %}"
            hx-target="body"
            hx-target-4*="#error-modal"
            hx-swap="beforeend"
        >
        edit
        </button>
        <button 
            class="mb-0"
            hx-get="{% url 'modals_delete_project' project.id %}"
            hx-target="body"
            hx-target-4*="#error-modal"
            hx-swap="beforeend"
        >
        delete
        </button>
    </div>

    <nav class="card-header bg-body-tertiary ps-0">
        <div class="d-flex align-items-center">
            <form class="flex-grow-1 me-2">
                <button 
                    class="btn" 
                    type="submit"
                    hx-post="{% url 'task_add' %}"
                    hx-target="#project-{{project.id}}"
                    hx-target-4*="#error-modal"
                    hx-swap="outerHTML"
                >
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                    </svg>
                </button>
                <input 
                    class="form-control col-sm" 
                    type="text" 
                    name="name"
                    placeholder="Start typing here to create a task..." 
                    aria-label="Add Task"
                    required
                    maxlength="255"
                >
                <input type="hidden" name="project_id" value="{{ project.id }}">
                <button 
                    class="btn btn-outline-success" 
                    type="submit"
                    hx-post="{% url 'task_add' %}"
                    hx-target="#project-{{project.id}}"
                    hx-target-4*="#error-modal"
                    hx-swap="outerHTML"
                >
                Add Task
                </button>
            </form>
            
            
        </div>
    </nav>

    <div id="tasks-list-{{project.id}}" class="container py-2">
        {% if project.tasks.all %}
            {% for task in project.tasks.all%}
                {% include "_task_item_partial.html" %}
            {% endfor %}
        {% else %}
            <p>There is no tasks!</p>
        {% endif %}
    </div>
</div>